
  <h1>hello {{ username }}!</h1>
  <h2>{{nombre}}</h2>

  <div>
    {{#each products}}
      <h3>{{this.title}}</h3>
      <p>{{this.code}}</p>
      <p>${{this.price}}</p>
    {{/each}}
  </div>
    <script src="/js/home.js"></script>
  {{!-- Comentario condicional --}}
  {{!--<div> 
    {{#if role}} 
      <h2>Admin</h2>
    {{else}}
      <h2>not an admin</h2>
    {{/if}}
  </div>--}}

